<a href="https://colab.research.google.com/github/ShivendraSahu22/PYTHON-CODES/blob/main/Tuple" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples

In [2]:

#empty
t = ()
#having
t = (1,2,3)
print(t)
#tuple with mixed datatype
t= (1,"name",2,"hii")
print(t)
#nested tuple
t = (1,(1,2,3),[1,"name",2,"hii"])
print(t)

(1, 2, 3)
(1, 'name', 2, 'hii')
(1, (1, 2, 3), [1, 'name', 2, 'hii'])

Type of tuple

In [4]:
t = ('name')
print(type(t))
print(t)
t = ('name',)
print(type(t))
print(t)
#parenthesis is optional
t = 'name',
print(type(t))
print(t)

<class 'str'>
name
<class 'tuple'>
('name',)
<class 'tuple'>
('name',)

In [8]:
t = ("name","hii","hello","tata","bye")
print(t[2])
#negative index
print(t[-1])

hello
bye

In [11]:
#nested tuple
t = ('ABC',('hii','hello','bye'))
print(t[1])
print(t[1][2])

('hii', 'hello', 'bye')
bye