<a href="https://colab.research.google.com/github/ShivendraSahu22/PYTHON-CODES/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to find and print all numbers between 1 to 500 whose square ends with the same digits as the number itself.

In [ ]:
n = 500
for num in range (1,n+1):
    sq = num * num
    temp = num
    power = 1
    while temp > 0:
        power = power * 10
        temp = temp // 10
    if sq % power == num:
        print(num)

1
5
6
25
76
376

Write a Python program to print all numbers between 1 to 1000 whose sum of digits is equal to 10.

In [2]:
n = 1000
for num in range(1,n+1):
    sum = 0
    temp = num
    while temp>0:
        sum = sum + temp % 10
        temp = temp // 10
    if sum == 10 :
        print(num)

19
28
37
46
55
64
73
82
91
109
118
127
136
145
154
163
172
181
190
208
217
226
235
244
253
262
271
280
307
316
325
334
343
352
361
370
406
415
424
433
442
451
460
505
514
523
532
541
550
604
613
622
631
640
703
712
721
730
802
811
820
901
910

Write a Python program to print all three-digit numbers in which any two consecutive digits are the same.

In [ ]:
for num in range(100,1000):
    temp = num
    a = num // 100
    b = (num //10) % 10
    c = num % 10
    if a == b or b == c:
        print(num)

100
110
111
112
113
114
115
116
117
118
119
122
133
144
155
166
177
188
199
200
211
220
221
222
223
224
225
226
227
228
229
233
244
255
266
277
288
299
300
311
322
330
331
332
333
334
335
336
337
338
339
344
355
366
377
388
399
400
411
422
433
440
441
442
443
444
445
446
447
448
449
455
466
477
488
499
500
511
522
533
544
550
551
552
553
554
555
556
557
558
559
566
577
588
599
600
611
622
633
644
655
660
661
662
663
664
665
666
667
668
669
677
688
699
700
711
722
733
744
755
766
770
771
772
773
774
775
776
777
778
779
788
799
800
811
822
833
844
855
866
877
880
881
882
883
884
885
886
887
888
889
899
900
911
922
933
944
955
966
977
988
990
991
992
993
994
995
996
997
998
999